doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 I gruppi parrocchiali

  section
    h2.section-title ACR

    .section-content
      .text-content
        p Informazioni sul l'ACR
  
  section
    h2.section-title Centro Aiuto Vita

    .section-content
      .text-content
        p Informazioni sul CAV

  include components/footer.pug