doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 I gruppi parrocchiali

  section
    h2.section-title Azione Cattolica Ragazzi

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Centro Aiuto Vita

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Emporio Della Solidariet<span class="font-display">à</span>

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Gruppo Adolescenti

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Catechismo Elementari

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Catechismo Medie

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Gruppo Famiglie

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Gruppo Francescano

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Gruppo Giovani Sposi

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Gruppo Primavera

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Lettura Popolare della Bibbia

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Masci

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Ora di Guardia

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title Scout Lugagnano 1

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  section
    h2.section-title San Vincenzo

    .section-content
      .text-content 
        p Lorem ipsum dolor sit amet.

  include components/footer.pug