doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 La nostra storia

  section
    h2.section-title Agli inizi del Settecento...

    .section-content
      .text-content
        p ...quando Lugagnano è solo una piccola contrada spersa nelle campagne veronesi, risale la costruzione della <strong>prima chiesa</strong>, edificata nell’unico nucleo urbano allora esistente, cioè quello dell’attuale <strong>via 26 Aprile</strong>. Viene dedicata a <strong>Sant’Anna</strong>.
        p La Parrocchia di Lugagnano viene fondata il <strong>7 luglio 1797</strong>, a seguito di una supplica al vescovo di Verona Giovanni Andrea Avogadro da parte dei capifamiglia. Prima Lugagnano era compresa nella Parrocchia di <strong>San Massimo</strong>, cosa che provocava enormi disagi per la distanza dalla chiesa parrocchiale.
        p Nei <strong>primi anni del 1800</strong> la comunità realizza la canonica ed amplia la chiesa dotandola di un campanile a tre campane, poi portato a cinque nel 1830.
        p Agli <strong>inizi del Novecento</strong> si aggiungono altre parti alla parrocchia, quali la zona sud-ovest (tra via Betlemme e via Cao Pra) della parrocchia di <strong>Sommacampagna</strong>, e la contrada di Mancalacqua appartenente alla comunità di <strong>Sona</strong>.
        p Il <strong>18 settembre 1943</strong> si stabiliscono a Lugagnano <strong>quattro suore comboniane</strong>, che solo due giorni dopo aprono la <strong>Scuola di lavoro femminile</strong> e la <strong>Casa del Bambino</strong>, la <strong>prima scuola materna</strong> che ad oggi è parrocchiale.
        p Su forte incitamento del neo-parroco don Enrico Brunelli il <strong>27 novembre 1948</strong>, in pieno dopoguerra, iniziano i lavori per edificare la nuova chiesa, visti i forti disagi riscontrati con la parrocchiale, troppo piccola per le nuove esigenze del paese e senza possibilità di ampliamento. La comunità discute molto su dove e in che modo costruire il nuovo tempio. Alla fine la scelta cade sul luogo odierno che a quel tempo era perso tra i campi, ma che oggi è il cuore di Lugagnano. L’opera è ambiziosa: costruire una tra le più <strong>grandi</strong> e <strong>maestose chiese della provincia</strong>. A turno le persone della comunità prestano gratuitamente il loro servizio nella costruzione. La nuova chiesa, costruita ad intervalli, viene <strong>ultimata nel 1955</strong>, è aperta al culto il 1° maggio e viene dedicata a <strong>Cristo Re dell’Universo</strong>.
        p Con l’aumento della popolazione aumenta anche l’attività parrocchiale e la necessità di nuove strutture. La chiesa viene passo dopo passo abbellita e decorata (organo, pitture…). Viene rinnovato il parco-giochi parrocchiale, già realizzato negli anni 70, e inizia la sua attività il <strong>Circolo ANSPI San Giovanni Bosco</strong>, attualmente <strong>circolo NOI</strong>. Tra le opere più importanti però c’è l’ampliamento della Scuola Materna, con l’aggiunta del <strong>Centro Parrocchiale e del teatro</strong>.
        p Oggi si contano più di 
          a.link(href="/gruppi") <strong>25 gruppi</strong>
          |  impegnati nelle varie attività e funzioni, formati da un <strong>grande numero di volontari e volontarie</strong> per una Parrocchia che sfiora i <strong>9.000 fedeli</strong>.
        p <strong>Un’opera</strong>, diventata ormai famosa, è stata realizzata nel transetto destro ed è l’affresco della “<strong>Storia della Salvezza</strong>” realizzato dal pittore <strong>prof. Federico Bellomi</strong>.

  include components/footer.pug