doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 Emporio della Solidariet<span class="font-display">à</span>

  section
    h2.section-title Informazioni

    .section-content
      div(class="flex flex-col gap-8")
        .text-content
          p La <strong>Rete degli Empori veronesi</strong> già presenti al Tavolo regionale è composta da dieci Empori diretti e un Emporio indiretto.
            | Ogni Emporio è gestito da una rete locale che contribuisce allo sviluppo progettuale territoriale anche con la sottoscrizione di un
            | Protocollo d’intesa tra tutti i partner; i volontari sono il perno del progetto di animazione di comunità dove <strong>il cibo è uno strumento
            | dentro un percorso di accompagnamento più ampio</strong>.
          
          p Altre informazioni sulla Rete degli Empori veronesi sono disponibili sul sito della 
            a(class="link" href="https://www.caritas.vr.it/", target="_blank", rel="noopener noreferrer") Caritas Diocesana Veronese.
          p La mappa degli empori è invece disponibile in fondo a questa pagina o a  
            a(class="link" href="https://www.caritas.vr.it/wp-content/uploads/2022/06/Mappa_Empori_pdf.pdf", target="_blank", rel="noopener noreferrer") questo indirizzo.

        .card
          h3.title Dove si trova

          p L'Emporio della Solidarietà della Parrocchia Sant'Anna si trova a in
            strong Via Beato Don G. Nascimbeni, 1 - 37060, Lugagnano (VR)

        .card
          h3.title Orari di apertura

          table
            tr 
              td Martedì
              td
                strong dalle 9:00 alle 11:30
            tr 
              td Mercoledì
              td
                strong dalle 15:30 alle 18:00
            tr 
              td Giovedì
              td
                strong dalle 15:30 alle 18:00

        .card
          h3.title Contatti

          table
            tr 
              td Referente
              td
                strong Emanuela Schiera
            tr 
              td Email
              td
                strong
                  a(href="mailto:emporiosommasona@gmail.com") emporiosommasona@gmail.com
            tr 
              td Cellulare
              td
                strong
                  a(href="tel:3471968345") 347 1968345

  section
    h2.section-title Cos'<span class="font-display">è</span> l'Emporio 

    .section-content
      .text-content 
        p Gli Empori della solidarietà di Verona sono <strong>minimarket</strong> in cui le
          | <strong>persone più fragili</strong> possono fare la spesa <strong>gratuitamente</strong>, ma sono
          | anche spazi di comunità in cui <strong>sperimentare nuove forme di aiuto</strong>,
          | avviare percorsi formativi e stimolare momenti di socialità. La
          | distribuzione di alimenti è un pretesto per favorire <strong>relazioni corte</strong>,
          | per portare avanti azioni di <strong>educazione alimentare</strong> e prevenzione
          | dello spreco, per sostenere gesti di vicinanza quotidiana e per
          | intraprendere percorsi di empowerment a livello individuale e
          | comunitario.

        p Il <strong>lavoro educativo e culturale</strong>, nonostante le molte complicazioni
          | determinate dalla pandemia è diventato una <strong>priorità</strong> e una prassi
          | quotidiana.
          br
          | È una sorta di prodotto immateriale presente sugli scaffali dei
          | market, l’<strong>evoluzione 2.0</strong> dell’Emporio della solidarietà (vedi più sotto, il paragrafo “Attività Correlate”).

        p Gli Empori utilizzano <strong>un unico software</strong> per registrare le
          | informazioni circa l’approvvigionamento, il magazzino e le persone
          | assistite (compresa il monitoraggio dei consumi e frequenza del
          | market). Inoltre si utilizzano questionari per favorire e monitorare
          | l’accesso all’officina culturale.

  section
    h2.section-title Rete di Partenariato

    .section-content
      .text-content 
        p L’Emporio è costituito da una <strong>rete locale</strong> che include: parrocchie,
          | servizi sociali, enti no profit impegnati nell’aiuto alimentare, altri
          | gruppi formali e informali che contribuiscono a vario titolo alla
          | realizzazione del progetto. L’alleanza tra i partner è siglata da un
          | protocollo di intesa.

        p La <strong>Rete dei partner è davvero numerosa</strong> ed ha coinvolto nel
          | protocollo d’Intesa: Parrocchia Sant’Anna di Lugagnano (capofila),
          | Associazione di Carità San Zeno onlus, Parrocchia San Salvatore di
          | Sona, Parrocchia San Giacomo e San Giustina di Palazzolo, Parrocchia
          | San Giorgio martire di San Giorgio in Salici, Parrocchia S. Andrea di
          | Sommacampagna, Parrocchia SS Redentore di Caselle, Parrocchia s.
          | Pietro di Custoza, Gruppi di Volontariato Vincenziano di Lugagnano,
          | Associazione Il Dono, Centro Aiuto Vita di Lugagnano, Associazione
          | Fanti di Lugagnano, Gruppo Alpini di Lugagnano, SOS, Lugagnano 1,
          | Cooperativa Sociale I Piosi, Associazione Missionaria di
          | Sommacampagna, Comune di Sona, Comune di Sommacampagna.

  section
    h2.section-title Destinatari e modalit<span class="font-display">à</span> d'accesso

    .section-content
      .text-content 
        p Il progetto è rivolto a:

        ul(class="list-inside list-disc")
          li <strong>Persone e famiglie a rischio di impoverimento</strong> o in condizioni di
            | fragilità, con l’obiettivo di aiutare le persone attraverso un’azione di
            | accompagnamento individualizzato, al fine di favorire percorsi di
            | emancipazione dalla condizione di difficoltà ed empowerment
            | individuale. Le <strong>famiglie</strong> prese in carico ad oggi sono <strong>134</strong>.
          li <strong>Tutta la comunità</strong>: quella che dona per riempire “lo scaffale
            | dell’Emporio”, quella che presta servizio di volontariato
            | permettendoci di tenere aperto il market solidale. I <strong>volontari attivi</strong>
            | ad oggi sono <strong>58</strong>.

        p Per la comunità fragile che fa spesa all’emporio l’accesso avviene
          | attraverso i Centri di ascolto territoriali che forniscono la tessera,
          | sulla quale vengono caricati mensilmente dei punti che consentono
          | l’acquisizione gratuita dei prodotti scelti. Il credito da assegnare alla
          | famiglia viene calcolato sulla base della composizione del nucleo
          | familiare.

  section
    h2.section-title Centri di Ascolto

    .section-content
      .text-content 
        p I Centri di ascolto forniscono l’accesso tramite l’<strong>erogazione di una
          | tessera virtuale</strong>, sulla quale vengono caricati mensilmente dei <strong>punti</strong>
          | che consentono l’<strong>acquisizione gratuita dei prodotti scelti</strong>. Il credito
          | da assegnare alla famiglia viene calcolato sulla base della
          | <strong>composizione del nucleo familiare</strong>.

  section
    h2.section-title Approvvigionamento

    .section-content
      .text-content 
        p Le tipologie di prodotto in entrata sono 3:

        ol(class="list-inside list-decimal")
          li <strong>Donazioni di eccedenze prossime alla scadenza</strong>;
          li <strong>Donazioni di prodotti a lunga conservazione</strong>;
          li <strong>Prodotti acquistati</strong>.

  section
    h2.section-title Attivit<span class="font-display">à</span> correlate

    .section-content
      .text-content 
        p L’<strong>obiettivo</strong> dell’Emporio della Solidarietà non è solo la distribuzione
          | di beni di prima necessità, ma anche la <strong>creazione di spazi di relazione e
          | empowerment</strong>, capaci di stimolare e rivelare le risorse di cui
          | ciascuno è portatore. Da questa idea si è sviluppato il modello di
          | animazione dell’<strong>Officina culturale</strong>.
        p L’Officina culturale è prima di tutto uno <strong>spazio in cui accogliere le
          | persone</strong> e coinvolgerle in nuove <strong>esperienze</strong>. È un progetto che
          | spinge ad attivarsi attraverso laboratori, corsi di formazione, e che
          | crea spazi di incontro e relazione tra gli abitanti dei quartieri
          | attraverso piccoli eventi, momenti informali.
          br
          | Il modello è in <strong>costante evoluzione</strong>, in termini di spazi, modalità,
          | offerta formativa.
          br
          | Le iniziative sono <strong>aperte a tutti</strong>. Adulti, anziani, donne, uomini,
          | bambini. Ci sono <strong>proposte per le diverse età</strong> e per tutte le <strong>esigenze</strong>.
          | Corsi di bicicletta, laboratori di teatro, cucina, pasticceria, corsi di
          | informatica, laboratori per imparare a scrivere un CV, mettere in
          | pratiche buone abitudine sul risparmio energetico, corsi di
          | educazione finanziaria...
        p Per il 2022, alla luce dei dati allarmanti sulle povertà minorili (1
          | ragazzo su 7 in Italia è in condizione di povertà), <strong>verrà potenziata
          | l’offerta per i più piccoli</strong>, con il format <strong>Officina Futuro</strong>, che si rivolge
          | a bambini e ragazzi e offre loro la possibilità di partecipare
          | <strong>gratuitamente a corsi</strong> di sport, danza, teatro, cinema, lingua,
          | spettacoli, proiezioni, etc., anche attraverso l’attivazione di doti
          | educative individuali per l’iscrizione a percorsi puntuali o
          | continuativi, l’acquisto di pc/tablet per lo studio, l’acquisto di
          | abbonamenti per stagione teatrale, etc., sempre sulla base di un
          | progetto educativo personalizzato.
        p Per la promozione delle iniziative delle <strong>Officine territoriali</strong>, oltre agli,
          | strumenti tradizionali (sito, volantini, manifesti, social), verrà
          | utilizzata <strong>Ehilapp!</strong>, la app messa a punto da Caritas Verona per
          | <strong>informare</strong> i cittadini rispetto ai sostegni economici, bonus e alle
          | opportunità educative e culturali gratuite esistenti a livello locale e
          | nazionale.
        p All’inizio di <strong>ogni anno scolastico</strong> la Rete degli Empori mette a
          | disposizione di tutte le famiglie un <strong>kit educativo per ogni figlio</strong>, che
          | varia in base all’anno scolastico frequentato e fornisce la <strong>cancelleria
          | e gli strumenti necessari</strong> (es. dizionari, zaino, etc.) per iniziare l’anno
          | scolastico con le stesse risorse degli altri bambini.

  section
    h2.section-title Volontari

    .section-content
      .text-content 
        p La <strong>gestione quotidiana</strong> dell’Emporio è garantita da <strong>58 volontari</strong> che
          | si occupano dell’approvvigionamento, della cassa, dell’allestimento e
          | predisposizione del market, dell’organizzazione, promozione,
          | realizzazione delle iniziative dell’officina culturale, della gestione
          | amministrativa e di segreteria, della relazione con i partner, i
          | donatori e le istituzioni locali.
          br
          | <strong>Ogni volontario</strong> che integra il team emporio partecipa ad una
          | <strong>formazione iniziale</strong> (su specificità del progetto, su mansioni e ruoli,
          | sulla relazione d’aiuto) ed è <strong>regolarmente coinvolto</strong> in momenti
          | <strong>formativi</strong> con focus su aggiornamento strumenti, supervisione in
          | situazione, etc.
        p In collaborazione con il servizio sociale territoriale, vengono inseriti
          | tra le <strong>risorse volontarie</strong> anche i percettori di <strong>RIA e RdC</strong>.
  
  section
    h2.section-title Galleria

    .section-content
      div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-5 mt-10")
        img(src="res/images/emporio/1.jpg", alt="Emporio Lugagnano")
        img(src="res/images/emporio/2.jpg", alt="Emporio Lugagnano")
        img(src="res/images/emporio/Mappa_Empori.jpg", alt="Mappa degli Empori")

  include components/footer.pug