doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content(class="flex flex-col gap-4")
      h1 Parrocchia Sant'Anna
      h5 in
        span(class="italic ml-2") Lugagnano

  section
    h2.section-title Ultimi avvisi

    if avvisi.length > 0

      .section-content 
        div(class="mt-5 flex flex-col gap-4")

          each avviso in avvisi
            .card.bordered(class=(avviso.Link ? 'highlighted' : ''))
              span.suptitle #{avviso.DataScadenza}
              h3.title #{avviso.Titolo}
              p #{avviso.Testo}

              if avviso.Link
                div
                  a.button(href=avviso.Link target="_blank" rel="noopener noreferrer") Apri
    else
      p Nessun avviso per i prossimi giorni

  section
    h2.section-title Messe

    .section-content
      div(class="mt-10 flex flex-col gap-8")
        .card
          h3.title Orari

          table
            tr 
              td Da Lunedì a Venerdì
              td
                strong 07:30 e 08:30
            tr
              td Sabato
              td
                strong 08:30 e 18:30 (prefestiva)
            tr
              td Domenica e feste
              td
                strong 07:30, 09:00, 10:30 e 18:30

        .card
          h3.title Dirette streaming

          p Le messe festive sono disponibili in <strong>diretta streaming</strong> sul canale <strong>YouTube</strong> della Parrocchia di Lugagnano.
          div
            a.button(href="https://www.youtube.com/c/ParrocchiadiLugagnano" target="_blank" rel="noopener noreferrer") <ion-icon name="logo-youtube"></ion-icon> Guarda ora

  section
    h2.section-title Portale iscrizioni

    .section-content 
      div(class="mt-5 flex flex-col gap-4")
        p Dal 2022 è attivo il <strong>portale</strong> per le <strong>iscrizioni online</strong> a tutte le 
          a.link(href="/attivita") <strong>attività parrocchiali</strong>.
          |  Che aspetti? <strong>Iscriviti!</strong>

        div(class="flex gap-2")
          a.button(href=(iscrizioni.Register) target="_blank" rel="noopener noreferrer") Iscriviti
          a.button(href=(iscrizioni.Login) target="_blank" rel="noopener noreferrer") Accedi

  include components/footer.pug