doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 Modulistica

  section
    h2.section-title Battesimo

    .section-content      
      div(class="mt-10 flex flex-col gap-8")
        .card
          table
            tr 
              td Indicazioni pratiche per il Battesimo
              td
                a.button(href="files/modulistica/1. Indicazioni pratiche per il Battesimo.pdf" target="_blank" rel="noopener noreferrer") Scarica
            tr
              td Domanda di Battesimo
              td
                a.button(href="files/modulistica/2. Domanda di Battesimo.pdf" target="_blank" rel="noopener noreferrer") Scarica

  section
    h2.section-title Matrimonio

    .section-content      
      div(class="mt-10 flex flex-col gap-8")
        .card
          table
            tr 
              td Indicazioni per la celebrazione del matrimonio
              td
                a.button(href="files/modulistica/1. Indicazioni per la celebrazione del matrimonio.pdf" target="_blank" rel="noopener noreferrer") Scarica
            tr
              td Domanda di matrimonio
              td
                a.button(href="files/modulistica/2. Domanda di matrimonio.pdf" target="_blank" rel="noopener noreferrer") Scarica

  include components/footer.pug