doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/presepe/8.jpg" alt="Presepe Artistico")
    .hero-content
      h1 Il Presepe Artistico
  
  section
    iframe(width="100%" class="aspect-video" src="https://www.youtube.com/embed/4pyfEQ4s1Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  section
    h2.section-title Parlano di noi
    .section-content 
      div(class="mt-5 flex flex-col gap-4")
        .card.bordered
          h3.title Il Baco da Seta
          p Il bellissimo presepe nella chiesa di Lugagnano: Un’opera d’arte che ha richiesto mesi di lavoro

          div
            a.button(href="https://www.ilbacodaseta.org/il-bellissimo-presepe-nella-chiesa-di-lugagnano-unopera-darte-che-ha-richiesto-mesi-di-lavoro/" target="_blank" rel="noopener noreferrer") Apri
      
      div(class="mt-5 flex flex-col gap-4")
        .card.bordered
          h3.title Telepace News del 21 dicembre 2022

          div
            a.button(href="https://youtu.be/0Lp0_P8e2vk?t=377" target="_blank" rel="noopener noreferrer") Apri
      
      div(class="mt-5 flex flex-col gap-4")
        .card.bordered
          h3.title Il Baco da Seta
          p Il presepe di Lugagnano incontra Heide, azienda leader nel mondo dei presepi d’arte

          div
            a.button(href="https://www.ilbacodaseta.org/il-presepe-di-lugagnano-incontra-heide-azienda-leader-nel-mondo-dei-presepi-darte" target="_blank" rel="noopener noreferrer") Apri

  section
    h2.section-title Galleria

    .section-content
      div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-5 mt-10")
        img(src="res/images/presepe/2.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/4.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/5.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/6.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/7.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/8.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/9.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/10.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/11.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/12.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/13.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/14.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/15.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/16.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/17.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/18.jpg", alt="Presepe Artistico")
        img(src="res/images/presepe/19.jpg", alt="Presepe Artistico")

  include components/footer.pug