doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 Tuo Figlio Vive

  section
    h2.section-title Cos'<span class="font-display">è</span> "Tuo Figlio Vive"
    h3(class="opacity-90 italic mt-3") di mons. Giovanni Ottaviani

    .section-content
      .text-content
        p L’iniziativa <strong>Tuo Figlio Vive</strong> è nata sotto lo sguardo materno della Madonna Addolorata nel
          | periodo in cui ho svolto il ministero pastorale al <i>Santuario Madonna della Corona</i> (dal 2005 al
          | 2008), affidato alla mia responsabilità dall’allora Vescovo di Verona S. E. Padre Flavio Roberto
          | Carraro.
        p Nominandomi Rettore, il Presule mi chiese di creare un <strong>Centro di spiritualità</strong> e di cultura
          | mariana e di avere una particolare cura caritativa verso i pellegrini più poveri e bisognosi.
        p Fin dai primi mesi di servizio, ho avuto modo di constatare il <strong>flusso continuo</strong> di fedeli che
          | salivano alla Corona per sostare in preghiera davanti alla statua della Madonna. Tra questi ho notato
          | la costante presenza di <strong>genitori in lutto per la morte di un figlio</strong>.
        p Non sono sfuggiti alla mia attenzione pastorale. Li ho incrociati mentre giravano da un
          | luogo all’altro del Santuario in cerca di conforto, li ho visti lasciare nelle apposite bacheche la foto
          | del loro caro congiunto, come atto di affidamento a Maria, li ho osservati a meditare ed a piangere
          | negli angoli meno frequentati del Santuario, <strong>li ho ascoltati e incoraggiati</strong>.
        p Davanti a questa realtà cosa fare? Era sufficiente offrire loro una parola di conforto cristiano
          | o si poteva osare qualcosa di più specifico? La Chiesa di Verona, che attraverso il suo Santuario
          | Mariano avvicina persone colpite da quel tipo di sofferenza, in che modo poteva testimoniare la
          | tenerezza di Dio e parlare al cuore di questi fratelli e sorelle, aprendoli alla speranza cristiana?
        p Tali interrogativi avevano bisogno di una risposta, che è stata elaborata nella preghiera, alla
          | luce del Vangelo e con il confronto e la collaborazione delle religiose che con me prestavano un
          | prezioso servizio al Santuario.
        p Si pensò che il primo passo da compiere fosse quello di <strong>riunire, in un momento celebrativo
          | comunitario</strong>, le mamme e i papà in lutto per un figlio. Venne fissato sabato <strong>16 settembre 2006</strong>,
          | giorno successivo alla <strong>memoria liturgica dell’Addolorata</strong>. Quella mattina, contro ogni aspettativa, la
          | Chiesa del Santuario si riempì di famiglie. Fu una celebrazione toccante che <strong>segnò l’inizio</strong> di quello
          | che oggi è il gruppo <i>Tuo Figlio vive</i>.
        p Da subito, i presenti espressero il desiderio di ripetere l’esperienza, avvertendo un certo
          | beneficio spirituale. Negli anni successivi gli incontri non solo si moltiplicarono, ma si
          | prolungarono con <strong>momenti di fraternità e di condivisione</strong> presso le sale della Residenza Stella
          | Alpina, struttura di accoglienza del Santuario. Ad ogni appuntamento le presenze aumentavano.
          | Così in pochi anni il gruppo raggiunse <strong>più di 400 iscritti</strong>, provenienti soprattutto dal <i>Triveneto</i>, ma
          | anche dalla <i>Lombardia</i>, dall’<i>Emilia Romagna</i> e dal <i>Centro Italia</i>.
        p Tra le famiglie partecipanti ai raduni sono nati dei <strong>legami di amicizia molto profondi</strong> e un
          | forte desiderio di stare insieme, in modo semplice e fraterno. Per questo, il gruppo ha proseguito il
          | suo cammino, anche quando, nel settembre 2008, in obbedienza al Vescovo Mons. Giuseppe Zenti,
          | ho lasciato l’ufficio di Rettore per assumere la responsabilità della Parrocchia di Bardolino, e poi
          | ancora nel 2019, quando mi è stato affidato l’incarico di parroco di Lugagnano.
        p Attualmente, gli incontri di Tuo Figlio Vive sono a <strong>cadenza trimestrale</strong>, precisamente in
          | <strong>giugno e settembre</strong> al <i>Santuario della Madonna della Corona</i> (Spiazzi - VR), in <strong>novembre e marzo</strong>
          | nella <i>Parrocchia di Lugagnano</i> (VR), dove sono parroco. Ad aiutarmi, il curato di Lugagnano don
          | Elia Aldegheri e un caro amico, Nicola Ioppi.
        p Tutti gli iscritti sono sempre invitati personalmente tramite una lettera che riporta, tra l’altro,
          | anche notizie del gruppo e informazioni sulle attività.
        p Nel rispetto delle varie storie e sensibilità, l’iniziativa Tuo Figlio Vive si prefigge di dare
          | <strong>serenità alle persone</strong>, di toglierle dallo loro solitudine interiore e, spesso anche fisica, di farle sentire
          | <strong>parte di una comunità</strong>, che è la Chiesa, di renderle attente e premurose ai bisogni degli altri, di
          | aiutarle ad elaborare il lutto con l’aiuto del Signore e dei fratelli nella fede.
        p Con Tuo Figlio Vive, ognuno diventa il Cireneo per il fratello che gli sta accanto e che fatica
          | a portare la sua croce. E’ una piccola e umile scuola dove si impara l’arte evangelica di condividere
          | gli uni i pesi degli altri.
        p <strong>E Gesù ne è il modello e il punto di attrazione</strong>.

  section
    h2.section-title L’incontro del gruppo Tuo Figlio Vive con il Vescovo Domenico Pompili
    h3(class="opacity-90 italic mt-3") Spiazzi, 1 ottobre 2022

    .section-content
      .text-content
        p Il <strong>primo ottobre 2022</strong> ha fatto l’ingresso ingresso ufficiale nella Diocesi di Verona il nuovo
          | Vescovo, S. E. mons. Domenico Pompili. Il programma prevedeva l’avvio del nuovo ministero con
          | la visita, in mattinata, al <i>Santuario della Madonna della Corona</i>, per un breve momento di preghiera
          | in cui affidare a Maria il mandato episcopale.
        p In questo sabato di inizio ottobre era previsto anche il consueto ritrovo del gruppo Tuo Figlio Vive
          | presso il Santuario mariano.
        p La provvidenza, è il caso di dirlo (con l’aiuto anche dell’attuale Rettore, mons. Martino Signoretto),
          | ha fatto sì che i <strong>due eventi coincidessero</strong>. Così le prime parole, i primi sguardi, le prime carezze del
          | nostro Vescovo sono stati <strong>per i genitori</strong> del gruppo Tuo Figlio Vive.
        p Riportiamo anzitutto una parte del <strong>saluto indirizzato al Vescovo</strong> da uno dei genitori, <strong>Lorenzo
          | Ballarini</strong>, a nome di tutto il gruppo:
        cite “Caro Vescovo Domenico, con gioia l’accogliamo in questo
          | Santuario della Madonna della Corona, da cui ha voluto iniziare il suo ingresso come Pastore
          | della diocesi di Verona. […]
          | Il 23 luglio di quest’anno anche noi, abbiamo perso nostro figlio Pietro; aveva 18 anni, era il
          | nostro unico e amatissimo figlio! Disperati abbiamo subito sentito il desiderio di salire a questo
          | Santuario per portare tutto il nostro dolore e smarrimento ai piedi di Maria nella speranza di
          | trovare pace interiore e risposte ai nostri perché.<br />
          | Proprio qui abbiamo conosciuto il gruppo Tuo Figlio Vive […]. Nessuno potrà restituirci in questa
          | esistenza terrena i nostri figli, per cui il dolore per la loro morte rimane una ferita aperta nel
          | nostro cuore di genitori, ma condividere la sofferenza con altre famiglie certamente è una medicina
          | benefica che contribuisce ad accendere o rafforzare la fiamma della fede e la luce della speranza.
          | Il gruppo Tuo figlio vive ha questo obiettivo, per cui per noi genitori che siamo piombati nella
          | solitudine e nell’oscurità del dolore, diventa una sorta di Stella Polare perché rende presente la
          | tenerezza e l’amore di Dio che mai ci abbandona. La Luce della fede scaccia le tenebre; la Parola
          | di Dio consola i nostri cuori e li risveglia; la forza dello Spirito Santo sostiene i nostri passi alle
          | volte incerti e stanchi.<br />
          | Nulla è impossibile a Dio; Maria Santissima si fa Grembo nel quale depositare le nostre lacrime,
          | ma si fa anche Mano che solleva e asciuga ed accarezza i nostri volti”.
        p Il Vescovo si è rivolto in modo particolare ai genitori; ecco <strong>alcuni passaggi significativi</strong> del
          | discorso:
        cite “Inutile piangere. Si nasce e si muore da soli” (C. Pavese). Gesù non fa eccezione.
          | Abbandonato da tutti, a parte Maria, qualche donna e il discepolo prediletto. Tutti, in ogni caso
          | stanno “presso” la croce. Ai nostri giorni la morte è scomparsa. Viene cioè ricondotta ad un fatto
          | privato, di fronte a cui si prova disagio e si preferisce rimuovere al più presto. […]<br />
          | L’eclissi della morte conduce, senza accorgersene, verso una disumanizzazione perché si vuole
          | l’uomo come un essere senza preoccupazioni, liberato dall’angoscia e da ogni senso del tragico.
          | […]<br />
          | Proprio mentre si esalta la corporeità nello sport, nella moda e nello spettacolo, si cerca di
          | occultare la dimensione della fine.<br />
          | Dinanzi al corpo del Crocefisso non basta com-muoversi, senza muoversi ad una più profonda
          | comprensione della vita che mai può essere separata dalla sua finitezza. L’unica eternità umana è
          | quella che può essere dischiusa dall’amore. L’amore all’interno di una vita finita. Gabriel Marcel
          | l’ha espressa cosi: “Amare qualcuno significa dirgli: tu non morirai”. Nella finitezza del nostro
          | amore noi sperimentiamo l’infinitezza del nostro essere. E’ questo l’augurio che ora si fa preghiera
          | davanti a Maria, la cui corona evoca quella dei “genitori dei figli che sono in cielo” perché siano
          | consolati, guardando a Maria che è “di speranza fontana vivace”.
        p Conclusa la breve preghiera mariana, il Presule ha desiderato fermarsi in Santuario e <strong>incontrare
          | personalmente</strong>, ad uno ad uno, i <strong>genitori dei figli</strong> che sono in cielo. Sono stati momenti di <strong>grande
          | commozione</strong> per tutti: <i>salutare il Vescovo a tu per tu, potergli stringere la mano, sentire la sua
          | carezza e la sua vicinanza, confidare i sentimenti più profondi</i>.
        p Per il gruppo è stata un’<strong>esperienza indelebile e indimenticabile</strong>. La speranza di tutti è che
          | l’esperienza di Tuo Figlio Vive possa assumere sempre più un respiro diocesano, e diventare un
          | <strong>punto di riferimento ecclesiale</strong> forte per tutti coloro che vivono il lutto per la perdita di un figlio o di
          | una figlia.
  
  section
    h2.section-title L’incontro invernale del gruppo Tuo Figlio Vive
    h3(class="opacity-90 italic mt-3") Lugagnano, 20 novembre 2022

    .section-content
      .text-content
        p Rinvigoriti dal bell’incontro alla Corona con il Vescovo Domenico, il gruppo è tornato a riunirsi
          | <strong>domenica 20 novembre 2022</strong> nella parrocchia di Lugagnano.
        p Il programma prevedeva la S. Messa, animata grazie all’aiuto del <strong>Gruppo Famiglie</strong> della nostra
          | parrocchia. La celebrazione eucaristica è per il gruppo il <strong>centro e il cuore di ogni incontro</strong>: la fede
          | nel Signore morto e risorto dà conforto, speranza e forza per continuare a vivere. Lì, proprio nella
          | Messa, dove si rende presente il Signore Gesù, abbiamo la possibilità di <strong>entrare in comunione con la
          | Chiesa celeste</strong> e quindi anche con i nostri cari defunti. Intensi sono anche i <strong>momenti di dialogo</strong> e di
          | confronto tra gli stessi genitori, che si confidano dolori, ma anche la <strong>speranza che viene dalla fede</strong>.
        p La giornata è proseguita con il pranzo presso la <i>Trattoria La Sosta</i> a Sommacampagna.
        p <strong>Due belle novità</strong> sono state comunicate al gruppo da don Giovanni: in un incontro
          | personale avuto con il Vescovo Domenico, è stata discusso il desiderio di dare una
          | <strong>forma ben definita ecclesialmente</strong> al nostro gruppo.
        p Inoltre, si sta organizzando per il mese di <strong>aprile 2023</strong> il Pellegrinaggio del gruppo a
          | Roma, con l’incontro con il <strong>Santo Padre Francesco</strong> nell’Udienza Generale del
          | mercoledì.
  
  section
    h2.section-title Galleria

    .section-content
      div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-5 mt-10")
        img(src="res/images/tuofigliovive/tuofigliovive_2.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_6.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_9.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_1.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_3.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_4.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_5.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_7.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_8.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_10.jpeg", alt="Tuo Figlio Vive")
        img(src="res/images/tuofigliovive/tuofigliovive_11.jpeg", alt="Tuo Figlio Vive")

  include components/footer.pug