doctype html
html(lang="it")

  include components/header.pug

  section.hero
    img(src="res/images/background.webp" alt="Arbor Rendemptionis")
    .hero-content
      h1 Tuo Figlio Vive

  section
    h2.section-title ⚠️ Lavori in corso

    .section-content
      .text-content
        p Questo sito è ancora in costruzione e la seguente pagina non è ancora stata creata!

  include components/footer.pug