footer
  section 
    h2.section-title Parrocchia Sant'Anna in Lugagnano
    div(class="flex flex-col mt-3")
      span
        a(href="https://goo.gl/maps/2oXcro3BDBQ4QPmF6" target="_blank") Via Don Giuseppe Fracasso, 3 - 37060 Lugagnano di Sona (VR)
      span
        a(href="mailto:parrocchiadilugagnano@gmail.com") parrocchiadilugagnano@gmail.com
      span
        a(href="tel:045514008") 045 514008
      span C.F. 80009360233

    p(class="mt-8 text-sm") Questo sito non utilizza cookie di profilazione, ma si avvale di cookie tecnici necessari al suo funzionamento. 
      a(class="underline" href="files/informativa_privacy.pdf") Informativa sulla Privacy

    p(class="mt-4 text-sm") Realizzato da  
      a(class="underline" href="https://lucamartinelli.eu.org" target="_blank" rel="noopener noreferrer") Luca Martinelli

script(src="js/main.js")
script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")